body {
  padding: 2rem;
  color: #00cc00;
  background-color: #0f0f23;
  width: 70rem;
  margin: auto;
}

h1 {
  text-align: center;
}

pre {
  color: #00cc00;
  white-space: pre-wrap;
  word-wrap: break-word;
}
